{% extends "game/base.html" %}
{% load static %}
{% block content %}
    <div class = "episode_mode">Jeopardy!</div>
    <div class = "score" id = "episode_score"></div>
        <div class = "clue-background board-clue" >
            <div class = "cat" >
                <h2>{{clue.category}}</h2>
                <h2>{{clue.worth}}</h2>
            </div>
            <div class = "clue">
                <span class = "clue-font">
                    {{clue.clue}}</span>
            </div>
        </div>
        </div>
        <div class = "user-response">
            What is <input type = "text" id = "user_answer"> ?
            <button onclick = "clicky()" type = submit id = "submit">Submit</button>
            <button onclick = "back()" type = button id = "back">Back to Board</button>
        </div>

        <p id = "correct">{{clue.answer}}</p>
        <p id = "value">{{clue.worth}}</p>

        <div class = "answer" id = "answer">
        </div>

        <script type = "text/javascript">
        document.getElementById("correct").style.display = "none";
        document.getElementById("value").style.display = "none";
        var score = localStorage.getItem("episode_score");
        if (score == null) {
            score = parseInt(0);
            localStorage.setItem("episode_score", 0);
        }
        score = parseInt(score);
        if (score >= 0) {
                document.getElementById("episode_score").innerHTML = "Score: $" + score;
            }
            else {
                document.getElementById("episode_score").innerHTML = "Score: -$" + Math.abs(score);
            }
        var user_answer_field = document.getElementById("user_answer");
        user_answer_field.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("submit").click();
            }
        });

        function clicky() {
            var user_answer = document.getElementById("user_answer").value;
            var correct = document.getElementById("correct").innerHTML;
            var value = document.getElementById("value").innerHTML;
            var val2 = value.substring(1);
            var worth = parseInt(val2);
            if (user_answer.toLowerCase() == correct.toLowerCase()) {
                document.getElementById("answer").innerHTML = "Correct!";
                if (score == 0) {
                    score = worth;
                }
                else {
                    score += worth;
                }
            }
            else {
                document.getElementById("answer").innerHTML = "Sorry, the answer is actually " + correct + " not " + user_answer;
                score -= worth;
            }
            if (score >= 0) {
                document.getElementById("episode_score").innerHTML = "Score: $" + score;
            }
            else {
                document.getElementById("episode_score").innerHTML = "Score: -$" + Math.abs(score);
            }
            localStorage.setItem("episode_score", score);
        };

        function back() {
            window.history.back();
        };
        </script>
    
{% endblock content %}